<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Créer utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <ion-list>
      <ion-item class="ion-padding">
        <ion-label position="floating">Pseudo</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="ion-padding" *ngIf="saveMethod !== 'update'">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="ion-padding">
        <ion-select formControlName="role" placeholder="Rôle">
          <ion-select-option *ngFor="let item of userRoles | keyvalue" [value]="item.key">{{item.value}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button class="ion-align-items-center" type="submit" [disabled]="!userForm.valid">Valider</ion-button>
  </form>
</ion-content>
