<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Liste des utilisateurs</p>

  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
        <p>{{user.role}}</p>
      </ion-label>
      <ion-button (click)="actionSheet(user)">Action</ion-button>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/users/user-save']">Créer utilisateur</ion-button>
</ion-content>
