<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ajouter un flux rss</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-label>Titre</ion-label>
        <ion-input type="text" [(ngModel)]="rssFeed.title"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <ion-item>
        <ion-label>Url</ion-label>
        <ion-input type="url" [(ngModel)]="rssFeed.url"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
