@use '../widget';

.widget-container {
  display: flex;
  flex-direction: column;

  ion-card-content {

    .no-content {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-img {
    margin: 2em;
  }
}

.food-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  ion-card {
    width: 40%;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
}
