<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Diversification alimentaire</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="children && children.length > 0; else noContent">
      <ion-select (ionChange)="onChildChange($event)" [compareWith]="compareWith" [value]="children[0]">
        <ion-select-option *ngFor="let child of children" [value]="child">
          {{child.name}}
        </ion-select-option>
      </ion-select>
      <div *ngIf="food$ | async as foods" class="food-container">
        <ion-card *ngFor="let item of foods">
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
            <ion-card-subtitle>
                {{item.type}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-chip>{{item.period}}</ion-chip>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
    <ng-template #noContent>
      <div class="no-content">
        <ion-img src="assets/icon/md-diet.svg"></ion-img>
        <p>Vous n'avez pas encore créer de compte enfant</p>
      </div>
    </ng-template>
  </ion-card-content>
</ion-card>
