<ion-app>
  <ion-menu side="start" menuId="first" contentId="menu">
    <ion-header>
      <ion-toolbar mode="ios">
        <ion-title>
          <ion-img src="assets/icon/logo.png" alt="logo"></ion-img>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ng-container *ngIf="isAuthenticated; else unAuthenticated">
        <div *ngFor="let item of menu">
         <app-menu-item [item]="item"></app-menu-item>
        </div>
        <ng-container *ngIf="isAdmin">
          <div *ngFor="let item of menuAdmin">
            <app-menu-item [item]="item"></app-menu-item>
          </div>
        </ng-container>
        <ng-container>
          <app-menu-item [item]="menuLogout"></app-menu-item>
        </ng-container>
      </ng-container>
      <ng-template #unAuthenticated>
        <app-menu-item [item]="menuLogin"></app-menu-item>
      </ng-template>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-app>
