<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Liens utiles</ion-card-title>
  </ion-card-header>
  <ng-container>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of links" [href]="item.url">
          <ion-label class="ion-text-wrap">{{item.title}}</ion-label>
          <ion-icon name="link-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ng-container>
</ion-card>
