<ion-header>
  <app-toolbar title="Diversification alimentaire"></app-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="foodFilterForm">
    <ion-list>
      <ion-item class="form-item">
        <ion-label>Aliment conseillé à partir de</ion-label>
        <ion-select cancel-text="Supprimer filtre" okText="Valider" formControlName="period"
                    (ionChange)="onFilterChange()" (ionCancel)="onClearFilter('period')">
          <ion-select-option *ngFor="let period of period$ | async" [value]="period.id">
            {{period.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="form-item">
        <ion-label>Type d'aliment</ion-label>
        <ion-select cancel-text="Supprimer filtre" okText="Valider" formControlName="type"
                    (ionChange)="onFilterChange()" (ionCancel)="onClearFilter('type')">
          <ion-select-option *ngFor="let type of type$ | async" [value]="type.id">
            {{type.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-item class="form-item">
   <ion-label>Aliment</ion-label>
    <ionic-selectable #ionicSelectableComponent [(ngModel)]="selectedFood" [items]="suggestedFood$ | async" itemValueField="id"
                      itemTextField="name" canSearch="true" (onSearch)="onSearchFood($event.text)"
                      [canClear]="true" (onChange)="onSelectedFood()" (onClear)="onClearSuggestion()"
                      clearButtonText="Effacer" closeButtonText="Annuler" closeButtonSlot="end"
                      searchPlaceholder="Recherche un aliment" searchFailText="Aucun aliment trouvé">
    </ionic-selectable>
  </ion-item>

  <ion-card *ngFor="let food of food$ | async">
    <ion-card-header>
      <ion-card-title>{{food.name}}</ion-card-title>
      <ion-card-subtitle>{{food.period.label}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{food.comment}}
      <ion-item>
        <ion-chip>
          <ion-label [color]="food.type.id | foodColor">{{food.type.label}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
