<ion-header>
  <app-toolbar title="Articles sauvegardés"></app-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="savedFeedItems$ | async as savedItems" inset="true">
    <ng-container *ngIf="savedItems.content.length > 0; else noItem">
      <ion-item-sliding *ngFor="let item of savedItems.content">
        <ion-item>
          <ion-label>
            <a [href]="item.url" target="_blank">
              <h3>{{item.title}}</h3>
            </a>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="onDeleteItem(item.id)" color="danger">Supprimer</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
    <ng-template #noItem>
      Aucun article sauvegardé
    </ng-template>
  </ion-list>
</ion-content>
