<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>user-profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="user$ | async as user">
    <h3>Informations profil utilisateur</h3>
    <ion-item>
      <ion-avatar>
        <img src="assets/icon/avatar/profil.png" alt="avatar">
      </ion-avatar>
      <ion-label>
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>

    <h3>Informations profil(s) enfant(s)</h3>
    <ion-list *ngIf="user.children.length > 0">
      <ion-item-sliding *ngFor="let child of user.children">
        <ion-item-options side="start">
          <ion-button color="warning" (click)="onUpdateChild(child)">
            <ion-icon name="build">Modifier</ion-icon>
          </ion-button>
        </ion-item-options>
        <ion-item>
          <ion-avatar>
            <img [src]="child.avatar" alt="avatar">
          </ion-avatar>
          <ion-label>
            <h2>{{child.name}}</h2>
            <p>{{child.birthDate | date:'d/MM/y'}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-button color="danger" (click)="onDeleteChild(child.id)">
            <ion-icon name="trash">Supprimer</ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-button (click)="onAddChild()">Créer profil enfant</ion-button>
  </ng-container>

</ion-content>
