<ion-header>
  <app-toolbar title="Actualités"></app-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Flux rss</ion-label>
    <ion-select cancel-text="Annuler" okText="Valider" (ionChange)="onFeedChange($event.detail.value)">
      <ion-select-option *ngFor="let feed of rssFeeds$ | async" [value]="feed.id">{{feed.title}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <ion-row>
    <ion-col size="12" size-lg="6" *ngFor="let item of feedItems$ | async">
      <ion-card class="feed-item">
        <ion-img [src]="item.image.url" alt="Image accompagnant l'actualité" class="feed-item-img"></ion-img>
        <ion-button (click)="onSaveFeedItem(item)" class="ion-margin-top">
          <ion-icon name="bookmark-outline" color="blue"></ion-icon>
        </ion-button>
        <ion-card-header>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{item.description}}</ion-card-content>
        <ion-button [href]="item.url" target="_blank">Consulter l'article</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
