<ion-header>
  <app-toolbar title="Flux RSS"></app-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="rssFeeds$ | async as rssFeeds">
    <ion-item-sliding *ngFor="let item of rssFeeds">
      <ion-item-options side="start">
        <ion-button color="warning" (click)="onUpdateFeed(item)">
          <ion-icon name="build">Modifier</ion-icon>
        </ion-button>
      </ion-item-options>
      <ion-item>
        <ion-label>{{item.title}}</ion-label>
        <ion-note slot="end">{{item.url}}</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="onDeleteFeed(item.id)">
          <ion-icon name="trash">Supprimer</ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="end" horizontal="start">
    <ion-fab-button (click)="onAddFeed()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate">
  </ion-progress-bar>
</ion-content>
