<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/icon/logo.png" alt="logo"></ion-img>
      </ion-thumbnail>
      <ion-title>
        La vraie vie de parent
      </ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <app-agenda-widget class="widget"></app-agenda-widget>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <app-rss-feed-widget class="widget"></app-rss-feed-widget>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="6">
       <app-vaccine-widget class="widget"></app-vaccine-widget>
      </ion-col>
      <ion-col size="12" size-lg="6">
       <app-growth-stage-widget class="widget"></app-growth-stage-widget>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <app-food-widget class="widget"></app-food-widget>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <app-useful-links-widget class="widget"></app-useful-links-widget>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>
