<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Prochains vaccins</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="children && children.length > 0; else noContent">
      <ion-select (ionChange)="onChildChange($event)" [compareWith]="compareWith" [value]="children[0]">
        <ion-select-option *ngFor="let child of children" [value]="child">
          {{child.name}}
        </ion-select-option>
      </ion-select>
      <ng-container *ngIf="vaccines$ | async as vaccines">
          <ion-card *ngFor="let item of vaccines">
            <ion-card-header>
              <ion-card-title>{{item.name}}</ion-card-title>
              <ion-card-subtitle>
                <ion-chip *ngFor="let period of item.vaccinePeriods">
                  {{period.period.label}}
                </ion-chip>
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
      </ng-container>
    </ng-container>
    <ng-template #noContent>
      <div class="no-content">
        <ion-img src="assets/icon/md-vaccine.svg" alt="vaccine img"></ion-img>
        <p>Vous n'avez pas encore créer de compte enfant</p>
      </div>
    </ng-template>
  </ion-card-content>
</ion-card>
