<ion-card class="widget-container">
  <ion-card-header>
    <ion-card-title>Rendez-vous du jour et à venir</ion-card-title>
  </ion-card-header>
  <ng-container *ngIf="appointments$ | async as appointments">
  <ion-card-content>
    <ng-container *ngIf="appointments.length > 0; else noContent">
      <ion-card *ngFor="let item of appointments">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="calendar-outline"></ion-icon>
            {{item.startDate | date:datePattern}}
            <ng-template [ngIf]="(item.startDate | date:datePattern) != (item.endDate | date:datePattern)"> - {{item.endDate | date:datePattern}}</ng-template>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="time-outline"></ion-icon>
            {{item.startDate | date:timePattern}} - {{item.endDate | date:timePattern}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{item.type | appointmentType}}</ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noContent>
      <div class="no-content">
        <ion-img src="assets/icon/calendar.svg" alt="calendar img"></ion-img>
        <p>Aucun rendez-vous de prévu dans les 7 prochains jours</p>
      </div>
    </ng-template>
  </ion-card-content>
  </ng-container>
</ion-card>
